* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.navbar {
  height: 70px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.navbar a,
.navbar button {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.auth-container {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background: #1e293b;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
}

.auth-form h1 {
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #334155;
  color: white;
}

.auth-form button {
  width: 100%;
  padding: 14px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.auth-form p {
  margin-top: 20px;
}

.auth-form a {
  color: #38bdf8;
  margin-left: 5px;
}

.dashboard {
  padding: 50px;
  text-align: center;
}

.user-box {
  margin-top: 30px;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
}